[alias]
	st = status
	br = branch
	ci = commit
	cm = commit
[user]
	email = 1449488533qq@gmail.com
	name = SilentStorm
[credential]
    #Window 环境下用manager，Linux 环境下面可以使用 store
	helper = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[http "https://github.com"]
	proxy = http://127.0.0.1:1081
[https "https://github.com"]
	proxy = https://127.0.0.1:1081
[i18n]
	logoutputencoding = utf-8
[i18n "commit"]
	encoding = utf-8
[gui]
    encoding = utf-8
[core]
    # 这里可以替换为其他的文本编辑器
    editor = vim
