[alias]
	st = status
	br = branch
	ci = commit
	cm = commit
	ck = checkout
[user]
	email = 1449488533qq@gmail.com
	name = SilentStorm
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	longpaths = true
    editor = vim
[http "https://github.com"]
	proxy = http://127.0.0.1:1080
[https "https://github.com"]
    proxy = http://127.0.0.1:1080
[i18n]
	logoutputencoding = utf-8
[i18n "commit"]
	encoding = utf-8
[gui]
	encoding = utf-8
[diff]
    submodule = log
[http]
	postBuffer = 319430
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[pull]
	rebase = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://gitee.com"]
	provider = generic
