target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

result

**/.DS_Store
**/*.swp

src/main/resources/static/node_modules/
### Visual Studio Code ###
.vscode/

### Frontend files
**/node_modules/
