[submodule "power-shell-config"]
	path = power-shell-config
	url = https://github.com/lihuu/power-shell-config.git
[submodule "vimfiles"]
	path = vimfiles
	url = https://github.com/lihuu/vimfiles.git
